<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
        <header class="header">
          <div class="container">
              
                  <button type="button" class="burger-btn is-open" >
                      <svg class="burger-icon" width="34" height="34">
                          <use href="./img/icons.svg#icon-double-burger"></use>
                      </svg></button> 
          
      
                  <div class="header-menu is-open">
                   
                                      <div>
                                          <button type="button" class="menu-btn-close">X</button>
                                       
                                              <nav>
                                                  <ul class="nav-menu">
                                                      <li class="nav-item"><a class="nav-link" href=""></a>Home</li>
                                                      <li class="nav-item"><a class="nav-link" href=""></a>About Us</li>
                                                      <li class="nav-item"><a class="nav-link" href=""></a>Catalog</li>
                                                      <li class="nav-item"><a class="nav-link" href=""></a>Sale</li>
                                                      <li class="nav-item"><a class="nav-link" href=""></a>Reviews</li>
                                                      <li class="nav-item"><a class="nav-link" href=""></a>Contact Us</li>
                                                  </ul>
                                              </nav>
                                      </div>
                                
                                 
                             
          
                              
                                
                                      <ul class="social-menu">
                                          <li class="sicial-item">
                                              <a class="social-link" href="">
                                                  <svg 
                                                  class="social-icon" 
                                                  width="34" 
                                                  height="34">
                                                  <use href=""></use>
                                                  </svg>
                                              </a>
                                          </li>
                                          <li class="sicial-item">
                                              <a class="social-link" href="">
                                                  <svg 
                                                  class="social-icon" 
                                                  width="34" 
                                                  height="34">
                                                  <use href=""></use>
                                                  </svg>
                                              </a>
                                          </li>
                                          <li class="sicial-item">
                                              <a class="social-link" href="">
                                                  <svg 
                                                  class="social-icon" 
                                                  width="34" 
                                                  height="34">
                                                  <use href=""></use>
                                                  </svg>
                                              </a>
                                          </li>
                                      </ul>
                                 
                              
                          
          
      
            </div>
         
          </div>
       
        </header>
      
</body>
</html>
