<header class="header">
    <div class="container">
        <div class="header-menu is-open">
            <div>
                <button type="button" class="menu-btn-close">
                    <svg class="menu-btn-icon" width="17" height="17">
                        <use href="/img/icons/symbol-defs.svg#icon-menu-close-btn"></use>
                    </svg>
                </button>

                <nav>
                    <ul class="nav-menu">
                        <li class="nav-item home">
                            <a class="nav-link" href="">Home</a>
                            <!-- <svg class="eclipse" width="8" height="8">
                                <use href="/img/icons/symbol-defs.svg#icon-menu-close-btn"></use>
                            </svg> -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Catalog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Sale</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <ul class="social-menu">
                <li class="social-item">
                    <a class="social-link" href="">
                        <svg class="social-icon" width="18" height="18">
                            <use href="/img/icons/symbol-defs.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-item">
                    <a class="social-link" href="">
                        <svg class="social-icon" width="18" height="18">
                            <use href="/img/icons/symbol-defs.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-item">
                    <a class="social-link" href="">
                        <svg class="social-icon" width="18" height="18">
                            <use href="/img/icons/symbol-defs.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>